html{
    width: 100%;
    height: 100%;
}
.full{
    display: flex !important;
}
body {
    width: 100%;
    background: #7D6E85 !important;
    background: -webkit-linear-gradient(bottom, #7D6E85, #DEC199) !important;
    background: -moz-linear-gradient(bottom, #7D6E85, #DEC199) !important;
    background: linear-gradient(to top, #ffd1ea, #ffcfa8) !important;
}
/* .container{
    -webkit-user-modify: read-write-plaintext-only !important;
    text-align: center;
    background-color: #ffffff40 !important;
} */

.btn-success {
    margin: 20px;
    color: #fff;
    background-color: #ffd1ea !important;
    border-color: #ffd1ea  !important;
}
/* form{
   background:  #ffffff85;
    display: inline-grid;

} */
#output{
    text-align: left !important;
    padding-left: 10%;
    padding-right: 10%;
}
